/* Customize container properties */
.container {
  margin: 0 auto;
  max-width: 1600px;
  width: 95%;
}

/* Removes the margin that is added to rows */
div.row {
  margin-bottom: 0;
}

/* Make input fields more compact */
.input-field {
  position: relative;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

/* For HTML5 "required" attribute */
/* https://github.com/Dogfalo/materialize/issues/1861 */
/* TODO: make it more like this w/ the underlining: https://jsfiddle.net/KyleMit/1gxqhvpa/ */
/* TODO: also look here: https://stackoverflow.com/a/61441111 */
/* https://stackoverflow.com/a/56371521 */
select:required {
  display: block;
  left: 50%;
  padding: 0;
  position: absolute;
  height: 0;
  width: 0;
}
