# OS and IDE specific files or directories
.idea/

# node dependency directories
node_modules/

# jest testing
coverage/

# distributables; uploaded to the GAS project
dist/

# bundled .js for HTML page
src/html/bundled.js

# clasp config and GAS project ID
.clasp.json

# dotenv environment variables file
.env
.env.test

# configurations and file IDs
config.js

# Parcel
.parcelrc
.parcel-cache/
.parcel-cache

# Lock files
yarn.lock
package-lock.json
lock.json

# Hooks
.husky/
.husky

